.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 100vh;
  height: 100%;
  background-color: #4f475f;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 30px;
    background:#a1d6c6;
    width: 250px;
    border-radius: 10px;
    box-shadow: black;
    font-family: Helvetica;
    font-size: 12px;
    
}

.person-img{
    display: flex;
    flex-direction: column;
    align-items: center;
   border-radius: 100px;
   margin: 20px;
}

